.homescreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .play-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .play-button:hover {
    background-color: #0056b3;
  }