@import "card.css";
@import "homescreen.css";
@import "playscreen.css";
@import "victorypanel.css";


body {
    background-image: url(../assets/backgrounds/background-argentina.png);
    font-family: 'Arial', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 768px) {
    body {
      height: auto;
      padding: 20px;
    }
  }