@import "board.css";
@import "card.css";
@import "homescreen.css";
@import "playscreen.css";
@import "victoryscreen.css";


body {
    background-image: url(../assets/backgrounds/background-argentina.png);
    font-family: 'Arial', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }