.victory-screen {
  text-align: center;
  background-color: white;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.victory-title {
  margin: 0;
  font-size: 1.8rem;
  color: black;
}

.victory-message {
  margin-top: 15px;
  font-size: 1rem;
  text-align: center;
  color: #6f3f1a;
}

.victory-img {
  border: 4px solid black;
  height: auto;
  max-width: 80%;
}

.victory-buttons-container {
  padding-top: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.victory-button {
  padding: 15px 30px;
  font-size: 1rem;
  color: black;
  background-color: #f2e128;
  border: 3px solid #6f3f1a;
  border-radius: 8px;
  cursor: pointer;
}

.victory-button:hover {
  background-color: #cfb002;
}

@media (max-width: 600px) {
  .victory-title {
    font-size: 1.5rem;
  }

  .victory-message {
    font-size: 0.9rem;
  }
}